# firstly
# mkdir -p $CONDA_PREFIX/etc/conda/activate.d
# echo 'export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$CONDA_PREFIX/lib/' > $CONDA_PREFIX/etc/conda/activate.d/env_vars.sh
# echo 'export CUDA_HOME=/usr/local/cuda-10.1' > $CONDA_PREFIX/etc/conda/activate.d/env_vars.sh
# echo 'PATH=/usr/local/cuda-10.1/bin:$PATH' > $CONDA_PREFIX/etc/conda/activate.d/env_vars.sh
# deactivate and activate again
# nvcc -V # should be 10.1

# conda install python=3.8.15
# pip install torch==1.8.1+cu101 torchvision==0.9.1+cu101 torchaudio==0.8.1 -f https://download.pytorch.org/whl/torch_stable.html
# conda install -c conda-forge cudatoolkit=10.1 cudnn=7.6.0
# pip install tensorflow==2.3.0
# python -c "import tensorflow as tf; print(tf.config.list_physical_devices('GPU'))"

# conda install tqdm matplotlib ipykernel tensorboardX pandas
# conda install -c conda-forge scikit-learn